<?xml version="1.0" encoding="utf-8"?>
<!-- FOR COLLABORATIONS: Check this link for more information: https://www.youtube.com/watch?v=uzzJco0P97M -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.cubecrusher.trancej" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:isGame="true"
            android:appCategory="game"
            android:label="Trance"
            android:requestLegacyExternalStorage="true"
            android:networkSecurityConfig="@xml/network_config"
            android:usesCleartextTraffic="true"
            android:theme="@style/GdxTheme" tools:targetApi="q">
        <activity
            android:name="com.cubecrusher.trancej.AndroidLauncher"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
